@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header Section */

header {
  padding: 16px 200px;
  background-color: #1f2937;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.logo {
  font-weight: bold;
  align-self: flex-start;
}

.links {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* End Header Section */

/* Hero Section */

#hero {
  padding: 100px 200px;
  background-color: #1f2937;
  color: white;
  display: flex;
  gap: 50px;
  justify-content: center;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
}

#hero img {
  width: 900px;
  height: 250px;
}


.hero-text p {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-text button {
  background-color: #3882f6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 5px;
  border: none;
}

/* End Hero Section */

/* Info Section */

#info h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.item {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  height: 120px;
  width: 120px;
  border-radius: 5px;
  border: 2px solid #3882f6;
}

.item p {
  font-size: 12px;
}

/* Info Section */

footer {
  background-color: #1f2937;
}
